@import url(https://fonts.googleapis.com/css?family=Niconne|Roboto:400,700);.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: block;
  opacity: 0;
  transition: all .25s ease-in-out;
  pointer-events: none;
  z-index: 80;
  cursor: pointer; }
  .overlay.cover-nav {
    z-index: 90; }
  .overlay.is-open {
    opacity: .75;
    pointer-events: auto; }
.booking-card {
  width: 90%;
  height: auto;
  margin-left: 5%;
  padding: 40px 0;
  background: white;
  position: fixed;
  border-radius: 4px;
  top: 8%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50px);
  transition: all .25s ease-in-out; }
  .booking-card.is-open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto; }
  .booking-card input, .booking-card textarea {
    position: relative;
    width: 80%;
    color: #6C6C6C;
    padding: 11px 8px;
    margin-top: 16px;
    margin-left: 10%;
    border: 1px solid #979797;
      border-radius: 3px;
    font-size: 16px; }
    .booking-card input::-webkit-input-placeholder, .booking-card textarea::-webkit-input-placeholder {
      color: rgba(108, 108, 108, 0.7); }
  .booking-card .text-content {
    width: 80%;
    margin-left: 10%; }
    .booking-card .text-content h2 {
      margin-bottom: 4px; }
  .booking-card .form-controls {
    margin: 24px 0 0 0;
    text-align: center; }
.primary {
  background: #F5A623;
  height: 48px;
  padding: 2px 24px;
  color: #724802;
  border: 0;
    border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 10; }
  .primary .icon {
    padding: 0 0 0 16px; }
  .primary .no-icon {
    padding: 0 !important; }

.secondary {
  height: 48px;
  padding: 2px 16px;
  margin: 0 32px 0 0;
  color: #724802;
  border: 0;
  font-size: 16px;
  font-weight: regular;
  z-index: 10; }
@media (max-width: 980px) {
  nav {
    margin-top: 72px; }
    nav ul {
      list-style: none; }
      nav ul ul {
        display: none;
        transition: all .25s; }
        nav ul ul li {
          margin: 24px 0; }
          nav ul ul li h2 {
            font-size: 20px; }
        nav ul ul.is-open {
          display: block; }
      nav ul li {
        position: relative;
        margin: 32px 0;
        opacity: 0.8;
        cursor: pointer; }
        nav ul li h2 {
          padding: 0;
          margin: 0; }
        nav ul li:hover {
          opacity: 1;
          color: #4a4a4a; }
  .dropdown {
    cursor: pointer; }
    .dropdown:after {
      content: '\F0D7';
      position: absolute;
      color: rgba(74, 74, 74, 0.75);
      top: 4px;
      left: 60%;
      transition: all .25s ease-in-out;
      font-family: FontAwesome;
      font-size: 22px; } }
    @media (max-width: 980px) and (max-width: 440px) {
      .dropdown:after {
        left: 70%; } }
    @media (max-width: 980px) and (min-width: 600px) {
      .dropdown:after {
        left: 40%; } }

@media (max-width: 980px) {
    .dropdown.is-open:after {
      color: #4a4a4a;
      transform: rotate(-180deg); }
  .hamburger {
    display: block;
    width: 32px;
    height: 25px;
    position: fixed;
    top: 16px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 85;
    transition: all .25s ease-in-out; }
  .top, .middle, .bottom {
    width: 100%;
    height: 3px;
    position: absolute;
    background: #fff;
    transition: all .25s ease-in-out;
    border-radius: 50px; }
    .top.is-open, .top.dark, .middle.is-open, .middle.dark, .bottom.is-open, .bottom.dark {
      background: #4a4a4a; }
  .hamburger .top {
    top: 0; }
    .hamburger .top.is-open {
      top: 11px;
      transform: rotate(45deg); }
  .hamburger .middle.is-open {
    opacity: 0; }
  .hamburger .bottom {
    bottom: 0; }
    .hamburger .bottom.is-open {
      bottom: 11px;
      transform: rotate(-45deg); } }

.nav-panel {
  background: white;
  height: 100vh;
  overflow-y: scroll;
  display: block;
  position: fixed;
  width: 80%;
  top: 0;
  right: 0;
  margin-right: -80%;
  transition: all .15s ease-in-out;
  z-index: 80; }
  @media (max-width: 320px) {
    .nav-panel {
      width: 100%;
      margin-right: -100%; } }
  .nav-panel.is-open {
    margin-right: 0; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: Roboto; }

.nav-container {
  background: transparent;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 80; }
  .nav-container .logo {
    margin-left: 40px;
    color: #F5A623;
    text-transform: uppercase;
    font-family: Niconne;
    font-size: 32px; }

h1, h2, h3, h4, p {
  margin: 8px 0;
  padding: 0;
  color: #4A4A4A; }
  h1.tab:before, h2.tab:before, h3.tab:before, h4.tab:before, p.tab:before {
    content: '';
    border-left: 4px solid #F5A623;
    margin-left: -14px;
    padding-right: 10px; }

h2 {
  font-size: 26px;
  margin-bottom: 16px; }

h3 {
  font-size: 18px; }

span.subtext {
  color: #6C6C6C;
  font-size: 14px;
  font-style: italic; }

p {
  line-height: 26px;
  color: #6C6C6C;
  font-size: 16px; }

a {
  color: #F5A623;
  border-bottom: 2px solid #F5A623;
  cursor: pointer;
  transition: all .25s ease-in-out;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    color: #c37d09;
    border-bottom: 2px solid rgba(245, 166, 35, 0); }

.footer {
  position: absolute;
  width: 100vw;
  height: 4px;
  display: block;
  background: #F5A623;
  margin-top: 40px; }

img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10;
  display: inline-block; }

.page-vs-nav {
  margin-top: 120px; }

.main-body {
  position: relative;
  padding: 0 40px;
  z-index: 10; }
.designer-card {
  width: 100%;
  height: 350px;
  margin-top: 56px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  position: relative; }
  .designer-card .designer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 32px);
    margin-left: -16px;
    background: white;
    position: absolute;
    bottom: 24px;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer; }
    .designer-card .designer-info:hover .icon h1 {
      transform: translateX(4px); }
    .designer-card .designer-info h3, .designer-card .designer-info p {
      margin: 0; }
  .designer-card .text {
    margin-left: 32px; }
  .designer-card .icon {
    background: #F5A623;
    height: 100%;
    display: block;
    padding: 10px 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
    .designer-card .icon h1 {
      transition: all .15s ease-in-out;
      color: #724802;
      font-size: 26px; }
.sale-badge {
  display: none;
  position: absolute;
  z-index: 10;
  background: #F5455A;
  padding: 8px 8px;
  border-radius: 3px;
  top: 32px;
  right: -10px; }
  .sale-badge.is-showing {
    display: block; }
  .sale-badge h4 {
    margin: 0;
    padding: 0;
    color: white; }
.dresses-container {
  display: flex;
  text-align: center; }
  .dresses-container ul {
    margin: 0;
    padding: 0; }
    .dresses-container ul li {
      list-style: none;
      padding: 0 8px;
      display: inline-block; }

.dress-container {
  position: relative;
  margin-top: 56px;
  border-radius: 4px; }

.dress-card {
  position: relative;
  overflow: hidden;
  border-radius: 4px; }
  .dress-card img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    z-index: 5;
    position: relative;
    transition: all 5s ease-in-out;
    cursor: pointer; }
    .dress-card img:hover {
      transform: scale(1.2); }
  .dress-card .dress-info {
    position: absolute;
    bottom: 24px;
    left: 16px;
    z-index: 10; }
    .dress-card .dress-info h2 {
      color: white;
      margin-bottom: 0; }

.dress-overlay {
  pointer-events: none; }
  .dress-overlay:after {
    content: '';
    border-radius: 4px;
    position: absolute;
    display: block;
    top: 56px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); }

.viewing-dress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; }

.sale-info {
  display: none;
  color: white !important; }
  .sale-info span {
    display: inline-block;
    padding: 0 10px; }
  .sale-info.is-showing {
    display: block; }
.slick-slider {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 200; }
  .slick-slider .slick-prev {
    left: 25px;
    z-index: 300; }

.slick-next:before, .slick-prev:before {
  font-size: 32px !important; }

.slick-next {
  left: calc(100% - 40px);
  z-index: 300; }

/*# sourceMappingURL=style.css.map*/