.slick-slider
    width: 100%
    height: auto
    position: absolute
    z-index: 200

    .slick-prev
        left: 25px
        z-index: 300

.slick-next:before, .slick-prev:before
    font-size: 32px !important

.slick-next
    left: calc(100% - 40px);
    z-index: 300